* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 2px;
}

a {
  color: #404040;
  text-decoration: none;
}

a:hover {
  color: #101010;
}

.main-container {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}

/* The page is split between map and sidebar - the sidebar gets 1/3, map
gets 2/3 of the page. You can adjust this to your personal liking. */
.sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 100%;
  top: 0;
  left: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.map {
  position: absolute;
  left: 33%;
  height: 100%;
  width: 67%;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.heading {
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 3em;
  min-height: fit-content;
}


/* .mapboxgl-popup{
  left: auto;
  right: auto;
  transform:none !important;
} */

.neighborhoods {
  height: 100%;
  overflow: scroll;
}

.neighborhoods .item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.neighborhoods .item:last-child { border-bottom: none; }

.neighborhoods .item .title {
  display: block;
  color: #00853e;
  font-weight: 700;
}

.neighborhoods .item .title small { font-weight: 400; }

.neighborhoods .item.active .title,
.neighborhoods .item .title:hover { color: #8cc63f; }

.neighborhoods .item.active {
  background-color: #f8f8f8;
}

.organization {
  width: 100%;
  min-height: fit-content;
  display: flex;
  flex-direction: row;
}


.organization-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}



.organization-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 3rem;
  text-align: center;
}

.organization-links a {
  width: 100%;
  border-radius: 25px;
  background: lightblue;
  color: black;
  border: 1px solid black;
  text-decoration: none;
}

.organization-links a:hover {
  text-decoration: none;
  color: white;
}

.organizations {

}

