.result-group {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 20%;
}

.location {
    display: flex;
    flex-direction: row;
    height: 10%;
    background-color: rgb(255, 255, 211);
    margin-bottom: 10px;
    padding: 5px;
}

.location-desc {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    margin-left: 20px;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.location-index {
    background-color: #f46f2072;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;
    text-align: center;
    padding-top: 8px;
}
