.result-group {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 65%;
}

.location {
    display: flex;
    flex-direction: row;
    height: 10%;
    background-color: white;
    margin-bottom: 10px;
    padding: 5px;
}

.location-desc {
    display: flex;
    width: 70%;
    flex-direction: column;
    margin-bottom: 0px;
    margin-left: 20px;
}

.title {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}

.location-index {
    background-color: #f46f2072;
    border-radius: 40px;
    width: 10%;
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;
    text-align: center;
    padding-top: 8px;
}

.button-group {
    display: flex;
    flex-direction: row
}

.page-button {
    width: 20%;
    border: 0px;
    border-radius: 20px;
    background-color: #0054A5;
    color: white;
}

.prev {
    margin-left: 15px;
    margin-right: 52%;
}

.location-button {
    width: 20%;
}

.view-button {
    padding: 0;
    border: none;
    background: none;
    padding-left: 15%;
}

.next-button {
    width: 50%;
    height: auto;
    margin-top: 3.2vh;
}

.SearchBarContainer {
    display: flex;
    width: 65%;
    height: 5vh;
    font-size: 15px;
    background-color: white;
    margin-bottom: 1vh;
    border-radius: 5px;
}

.search-field {
    width: 70%;
    border: none;
    margin-left: 10px;
    outline: none;
    background: none;
}

.search-button-div {
    justify-content: center;
    width: 10%;
}

.search-button {
    border: none;
    background: none;
    padding-top: 1vh;
    width: 85%;
    height: auto;
}

.grey-divider {
    width: 1px;
    height: 80%;
    margin-top: 5px;
    margin-left: -1%;
    background-color: grey;
}